<div class="jumbotron">
  <center>
    <%= image_tag("favicon.png", :alt => "no img") %>
    <h1>I S L I O</h1>
    <br />
    <%= link_to 'Login', authentication_path, class: "btn btn-primary btn-lg" %>
  </center>
</div>
